<!doctype html>
<html lang="en">
	<!--头部-->
	 <head>
		<!--声明当前页的编码格式 UTF-8（国际编码）gbk(中文简体)-->
		<meta charset="UTF-8">
		<!--声明当前页的三要素（标题 关键字 描述）-->
		<title>标题</title>
		<meta name="Keywords" content="关键字">
		<meta name="Description" content="描述">
		<!--样式 css  变漂亮 -->
		<style type="text/css">
			.page{width:840px;height:100px;margin-top:120px;}
			.page a{border:1px solid #d9d9d9; text-decoration:none;color:#121212;padding:10px 24px;border-radius:2px;}
			.page .pre{ padding:10px 34px;}
			.page .cur, .page .cur:hover{background:#049ee4;color:#FFFFFF; border:1px solid #049ee4;}
			.page  .none{border:none;cursor:default;}
			.page a:hover{background:#f1f1f1;}
			.page  .none:hover{background:none;}
		</style>
		 <script src="jquery-2.0.0.min.js"></script>
		 <script src="jquery-2.0.0.min - 副本.js"></script>
	 </head>
	 <body>
		<div class="page" id="page"></div>
	 </body>
	<script>
		new pages({
			pageID:'#page',
			pageSize:20,
			size:1
		});
	</script>
</html>