<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>企业年金数据校验平台</title>
    <!--<link href="css/index.css" rel="stylesheet" type="text/css" />-->
</head>
<body>
<div class="container">
    <div class="head">
        <div class="user-nav">
            <div class="user-info">
                <span id="username"></span><span class="logout can-click">退出</span>
            </div>
        </div>
        <div class="nav-title">
            <span>企业年金数据校验平台</span>
        </div>
        <!--            <div class="nav-attention">
                        <img alt="light" src="images/atten_light.gif" class="atten-light" />
                        <span class="">重要提醒:</span> <span>XXXXXXXXXXX</span>
                    </div>-->
    </div>
    <div class="main">
        <div class="main-nav">

        </div>
        <div class="main-top">
            <div class="main-tl">
                <div class="exl-submit">
                    <span class="exl-submit-til">Excel上传</span> <a class="btn-upload exl-submit-can"
                                                                   id="btn-upload" href="#">
                    <input onchange="fnExcelUpload()" type="file" id="excel_upload" name="file" multiple="multiple" />
                </a>
                </div>
            </div>
            <div class="main-tr">
            </div>
        </div>
        <div class="main-mid">
        </div>
        <div class="main-bottom">
            <div id="loading_info" class="loading-info">
            </div>
            <div id="execute_result" class="execute-result">
                <div id="result-step-two" class="result-wrap">
                    <div class="result-left"></div>
                    <div class="result-right"></div>
                </div>
                <div id="result-step-three" class="result-wrap">
                </div>
                <div id="result-step-four" class="result-wrap">
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<script src="js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="js/ajaxfileupload.js" type="text/javascript"></script>
<script src="js/index.js" type="text/javascript"></script>
</html>