<!DOCTYPE html>
<html>
<script type="text/javascript" src="js/jquery-2.0.0.min.js"></script>
<body>
<form action="/process_post" method="post">
    First Name: <input type="text" name="first_name">  <br>

    Last Name: <input type="text" name="last_name">
    <input type="submit" value="Submit">
</form>

<h3>文件上传：</h3>
选择一个文件上传: <br />
<form action="/file_upload" method="post" enctype="multipart/form-data">
    <input type="file" name="image" size="50" /><!--multiple="multiple" -->
    <br />
    <input type="submit" value="上传文件" />
</form>
<h3>文件上传：</h3>
选择多个文件上传: <br />
<form action="/fromfile" method="post" enctype="multipart/form-data">
    <input type="file" name="uuu" size="50" multiple />
    <br />
    <input type="submit" value="上传文件" />
</form>
<button onclick="sle()" id="upJQuery" type="button">提交</button>
<p>--------------------------------------------------------------------------------------</p>
<input id="addpic" name="picupload" type="file" multiple="multiple" style="">
<input onclick="filel()" id="uploadpic" type="button" value=" 上 传 ">
</body>
<script>
    function filel() {
        var datapic=new FormData();
//        datapic.delete('myfile')
        for(var k=0;k<document.getElementById("addpic").files.length;k++)
        {
            datapic.append("myfile", document.getElementById("addpic").files[k]);
            //第一个参数是文件实例名，可以再后台作为files的引用来遍历所有文件  第二个是文件实例
        }
        //使用JS来遍历files文件，并添加到FormData实例中，同时赋予名字"myfile"+k,
        $.ajax({
            url:"/ajaxfile",
            data:datapic,
            type: 'POST',
            async: false,
            cache: false,
            contentType: false,    //这些参数要设置为false
            processData: false,
            success:function(result){
                //处理函数
//                if(result){location.href='/'}
            }
        });
    }

    function sle() {
        alert($('#upfile').val())
        $.ajax({
            type:'POST',
            url:'/message',
            data:{file_name:true},
            dataType:'',
            success:function (data) {
                console.log(data);
            }
        });
    }

</script>
</html>